.layout-header {
    background-color: #8dbafe;
    color: #4663be;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

.layout-footer {
    background-color: #21ade4;
    color: #f4a261;
    font-size: 30px;
    text-align: center;
    padding: 2 0px;
}

.content-about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}